<h1>
    API endpoint
</h1>
<ul>
    <li><strong>https://localhost:44330/api/token/GetToken?username={username}</strong> - To obtain a valid JWT Token</li>
    <li><strong>https://localhost:44330/api/token/ValidateToken?token={token}</strong> - To valid a JWT Token (even if expired)</li>
    <li><strong>https://localhost:44330/api/values</strong> - Authenticated resource (must pass JWT Token in Authentication header (using Bearer)</li>
</ul>